@model RDMG.Web.Models.Dungeon.LoadViewModel

@{
    ViewData["Title"] = @Model.Option.DungeonName;
}
<div class="row g-3 mb-3">
    <div class="col-auto">
        <a class="btn btn-success" href="@ViewData["ReturnUrl"]" data-bs-toggle="tooltip" data-bs-placement="bottom" title="@Resources.Common.Back"><i class="fas fa-arrow-left"></i> </a>
    </div>
    <div class="col-md-6">
        <table class="table table-sm align-middle">
            <tr>
                <td><label asp-for="GeneratePlainMap" class="col-form-label"></label></td>
                <td>
                    <input asp-for="GeneratePlainMap" class="form-check-input" type="checkbox">
                </td>
            </tr>   
            <tr>
                <td><label asp-for="Themes" class="col-form-label"></label></td>
                <td>
                    <select asp-for="Theme" asp-items="@Model.Themes" class="form-select">
                        <option value="" disabled selected hidden>@Resources.Dungeon.ChooseTheme</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row col-lg-12">
    @foreach (var dungeon in Model.Option.Dungeons)
    {
        <h1 id="header_@dungeon.Id" class="text-center" hidden>@Resources.Dungeon.Level - @dungeon.Level</h1>
        <div id="@dungeon.Id" class="col-lg-8">
            <canvas id="mapArea_@dungeon.Id" style="border:0 #000000;"> </canvas>
        </div>
        <div id="plain_@dungeon.Id" class="col-lg-8">
            <canvas id="plain_mapArea_@dungeon.Id" style="border:0 #000000;"> </canvas>
        </div>
        <div id="desc_@dungeon.Id" class="col-lg-12" hidden>
            <table id="table_description_@dungeon.Id" class="table table-borderless" style="white-space: pre-wrap;"> </table>
        </div>
    }
</div>

@section Scripts {
<script>
    Utils.preloadImages();
    $(document).ready(function () {
        $(document).on('change', '#Theme', function (e) {
            @foreach (var dungeon in Model.Option.Dungeons)
            {
                <text>
                Utils.setCanvasSize($("#@dungeon.Id"), "mapArea_@dungeon.Id");
                Utils.drawDungeonOneCanvas(@Html.Raw(dungeon.DungeonTiles),
                    @Html.Raw(dungeon.RoomDescription),
                    @Html.Raw(dungeon.TrapDescription),
                    "mapArea_@dungeon.Id",
                    @Html.Raw(@Model.Option.DungeonSize),
                    '@Html.Raw(@Model.Option.Corridor)',
                    $("#Theme").val(),
                    @Html.Raw(dungeon.RoamingMonsterDescription),
                    "table_description_@dungeon.Id");
                if ($("#header_@dungeon.Id")[0].hasAttribute('hidden')) {
                  $("#header_@dungeon.Id").removeAttr('hidden');
                }
                if ($("#desc_@dungeon.Id")[0].hasAttribute('hidden')) {
                  $("#desc_@dungeon.Id").removeAttr('hidden');
                }
                if ($("#GeneratePlainMap")[0].checked === true){
                    $("#plain_@dungeon.Id").show();
                    Utils.setCanvasSize($("#plain_@dungeon.Id"), "plain_mapArea_@dungeon.Id");
                    Utils.generatePlainMap(
                        @Html.Raw(dungeon.DungeonTiles),
                        '@Html.Raw(@Model.Option.Corridor)',
                        "plain_mapArea_@dungeon.Id"
                    );
                } else{
                    $("#plain_@dungeon.Id").hide();
                }
                </text>
            }
        });
    });
</script>
}