@model RDMG.Web.Models.Profile.ProfileViewModel
@{
    ViewData["Title"] = Resources.Profile.Title;
}
<div>
    <form>
        <div class="mb-3 row">
            <label asp-for="Username" class="col-sm-2 col-form-label">@Resources.User.Username</label>
            <div class="col-sm-10">
                <input type="text" asp-for="Username" readonly class="form-control-plaintext">
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="FirstName" class="col-sm-2 col-form-label">@Resources.User.FirstName</label>
            <div class="col-sm-10">
                <input type="text" asp-for="FirstName" readonly class="form-control-plaintext">
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="LastName" class="col-sm-2 col-form-label">@Resources.User.LastName</label>
            <div class="col-sm-10">
                <input type="text" asp-for="LastName" readonly class="form-control-plaintext">
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="Email" class="col-sm-2 col-form-label">@Resources.User.Email</label>
            <div class="col-sm-10">
                <input type="email" asp-for="Email" readonly class="form-control-plaintext">
            </div>
        </div>
    </form>
    <div class="mx-auto">
        <a asp-action="ChangePassword" asp-route-id="@Model.Id" class="btn btn-warning" role="button">@Resources.User.ChangePassword</a>
    </div>
</div>