@model MvcRDMG.Models.User.UserListViewModel
@{
    ViewData["Title"] = Resources.User.Title;
}
<div class="col-md-12">
    <div class="d-flex bd-highlight">
        <div class="mr-auto p-2"><a asp-action="Edit" class="btn btn-primary">@Resources.User.NewUser</a> </div>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>
                    @Resources.User.Name
                </th>
                <th>
                    @Resources.User.Password
                </th>
                <th>
                    @Resources.User.Status
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Details)
            {
                <tr>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        <pre> @item.Password </pre>
                    </td>
                    <td>
                        @(item.Deleted == true ? Resources.User.Deleted : Resources.User.Active)
                    </td>
                    <td class="text-right">
                        <a asp-action="Edit" asp-route-id="@item.Id" title="@Resources.Common.Edit" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                        @if (!item.Deleted)
                        {
                            <a data-id="@item.Id" title="@Resources.Common.Delete" class="btn btn-primary deleteUser" href="#"><i class="fas fa-minus-circle"></i></a>
                        }
                        else
                        {
                            <a data-id="@item.Id" title="@Resources.Common.Activate" class="btn btn-primary unDeleteUser" href="#"><i class="fas fa-check-circle"></i></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
    $(document).ready(function () {
        $(document).on('click', '.deleteUser', function (e) {
            var id = $(this).data("id");
            bootbox.confirm({
                message: '@Resources.Common.Alert',
                buttons: {
                    confirm: {
                        label: '@Resources.Common.Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: '@Resources.Common.No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result === true) {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("Delete", "User")',
                            data: { id: id },
                            cache: false,
                            success: function () {
                                window.location.href = '@Url.Action("Index", "User")';
                            }
                        });
                    }
                }
            });
        });

        $(document).on('click', '.unDeleteUser', function (e) {
            var id = $(this).data("id");
            bootbox.confirm({
                message: '@Resources.User.Restore',
                buttons: {
                    confirm: {
                        label: '@Resources.Common.Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: '@Resources.Common.No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result === true) {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("Restore", "User")',
                            data: { id: id },
                            cache: false,
                            success: function () {
                                window.location.href = '@Url.Action("Index", "User")';
                            }
                        });
                    }
                }
            });
        });
    });
    </script>
}
