@model MvcRDMG.Models.User.UserListViewModel
@{
    ViewData["Title"] = Resources.User.Title;
}
<div class="col-md-12">
    <div class="d-flex bd-highlight">
        <div class="mr-auto p-2">
            <a asp-action="Create" class="btn btn-primary">@Resources.User.NewUser</a>
        </div>
    </div>
    <table class="table text-nowrap">
        <thead class="thead-light">
            <tr>
                <th>
                    @Resources.User.Username
                </th>
                <th>
                    @Resources.User.FirstName
                </th>
                <th>
                    @Resources.User.LastName
                </th>
                <th>
                    @Resources.User.Email
                </th>
                <th>
                    @Resources.User.Role
                </th>
                <th>
                    @Resources.User.Status
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Details)
            {
                <tr>
                    <td>
                        @item.Username
                    </td>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Role
                    </td>
                    <td>
                        @(item.Deleted == true ? Resources.User.Deleted : Resources.User.Active)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" title="@Resources.Common.Edit" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                        @if (!item.Deleted)
                        {
                            <form method="post" asp-action="Delete" asp-controller="User" asp-route-id="@item.Id" class="list-inline-item">
                                <button id="deleteBtn" title="@Resources.Common.Delete" class="btn btn-primary deleteUser"><i class="fas fa-minus-circle"></i></button>
                            </form>
                        }
                        else
                        {
                            <form method="post" asp-action="Restore" asp-controller="User" asp-route-id="@item.Id" class="list-inline-item">
                                <button id="activateBtn" title="@Resources.Common.Activate" class="btn btn-primary unDeleteUser"><i class="fas fa-check-circle"></i></button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        var confirm = function (msg, form, confirmLabel, cancelLabel) {
            bootbox.confirm({
                message: msg,
                buttons: {
                    confirm: {
                        label: confirmLabel,
                        className: 'btn-success'
                    },
                    cancel: {
                        label: cancelLabel,
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result === true) {
                        form.submit();
                    }
                }
            });
        };

        $(document).ready(function () {

            $(document).on('click', '#deleteBtn', function (e) {
                e.preventDefault();
                confirm('@Resources.Common.Alert', this.closest("form"), '@Resources.Common.Yes', '@Resources.Common.Cancel');
            });

            $(document).on('click', '#activateBtn', function (e) {
                e.preventDefault();
                confirm('@Resources.User.Restore', this.closest("form"), '@Resources.Common.Yes', '@Resources.Common.Cancel');
            });

        });
    </script>
}
